/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2017, 20:12:37
    Author     : Jota
*/
#panelCentral{
    padding: 10px 50px 10px 50px;
}

div.navbar-header{
    padding-left: 20px;
}

.navbar-right li{
    padding-right: 20px;
}

#botonesRegistro{
    padding-top: 10px;
}

.col-sm-2{
    text-align: right;
    vertical-align: middle;
}

#datosUser{
    padding-top: 14px;
}

#tablaHorarios td{
    vertical-align: middle !important;
}

.botonHorario{
    border-radius: 24px !important;
    color: #5bc0de !important;
}

#btnHAnterior{
    float: left;
}

#btnHSiguiente{
    float: right;
}

